*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
}

.welcome{
    display: flex;
    justify-content: space-around; 
    padding: 10px;
    background-color: rgba(169, 169, 169, 0.384);
    border: 3px solid rgba(158, 38, 148, 0.61);
    color: rgba(219, 43, 205, 0.493); 
    margin-top: 15px;
    margin-bottom: 15px;
}
.container{
    display: flex;
    justify-content: space-around; 
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
}